
h1{
    background-color: cornflowerblue;
}
h2{
    background-color: darkgreen;
}
h3{
    background-color: darkslateblue;
}
span{
    color: firebrick;
}
img{
    background-color: firebrick;
}
p{
    background-color: firebrick;
}
form{
    background-color: hotpink;
}